.container{
    margin: 0 auto;
    max-width: 1000px;
}
pre{
    margin: 20px 0;
    background: #222;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    max-width: 800px;
}
p strong{
    color: green;
}